<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorted Algorithm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">GS Systems</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/methodology">Methodology</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1>What US Medical Schools Should You Apply To?</h1>
    <p>Note: This is not designed to be the only tool used to make your medical school application list</p>
    <form method = "post">
        <label>Desired In-State Matriculant Percentage of School (0-100):</label><br>
        <input type="text" class = "text" name  = "Mat_pct" required><br><br>
        <label>Your GPA (0-4):</label><br>
        <input type = "text" class = "text" name = "Avg_GPA" required><br><br>
        <label>Your MCAT Score (472-528):</label><br>
        <input type = "text" class = "text" name = "MCAT" required><br><br>
        <label>Show only one state?</label><br>
        <input type="radio" id="Yes" name="state" value="Yes">
        <label for="Yes">Yes</label><br>
        <input type="radio" id="No" name="state" value="No" checked = "checked">
        <label for="No">No</label><br><br>
        <label>If Yes, then which state? (Please enter the two letter code only)</label><br>
        <input type = "text" class = "text" name = "text_state" maxlength="2" size = "1" ><br><br>
        <input type = "submit" name = "submit" class = "btn btn-outline-success">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
<br>
<footer>
    <p>Source for all data except Average GPA and Average MCAT: <a href = "https://www.aamc.org/media/5976/download?attachment">AAMC Dataset</a></p>
    <p>Source for Average MCAT and Average GPA: <a href = "https://www.shemmassianconsulting.com/blog/average-gpa-and-mcat-score-for-every-medical-school">Average MCAT and GPA Shemmassian Consulting</a></p>
</footer>
</html>