<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorted Algorithm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='methodology.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">GS Systems</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/methodology">Methodology</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class = "shift">
      <h1>How does this website work?</h1>
      <p>This website uses an unsupervised machine learning model to determine the subset of schools that are the most optimal for you.</p>
      <h2>Key Steps:</h2>
      <br>
      <h3>Scaling the Dataset</h3>
      <p>
        The dataset of medical schools had the values scaled so that the mean of the values was equal to zero.
      </p>

      <h3>Principal Component Analysis</h3>
      <p>
        
        Principal Component Analysis (PCA) performs a linear transformation on a dataset to reduce the number of dimensions of the dataset.
        This reduces the computational time needed for the machine learning model to analyze and utilize the model for predictions. 
        PCA allows for greater clustering capabiity as well, allowing for the different medical schools to be separated into categories more easily.
        The dataset was reduced, so that the dataset only had 2 features, since 2 is the minimum number of features that allows for adequate clustering 
        and captures much of the variance from the original dataset
      </p>

      <h3>K-means Clustering</h3>

      <p>
        
        K-means Clustering was utilized, as it allows for the production of distinct clusters. K means clustering separates the med schools by grouping the closest 
        points together into the same cluster. More specifically, it groups the different medical schools to the cluster with the nearest mean. 
        Four clusters allows for a non-trivial amount of clusters, while still allowing for the clusters to 
        be distinct from each other.
    
        </p>
        <p>The image of the clusters are shown below.</p>
        <img src = "{{ url_for('static', filename='download.png') }}" alt = "Pairplot image">
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>